.pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15rem;
    height: 30rem;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 1rem;
    text-align: center;
    transition: filter 0.2s;
    cursor: pointer;
}

.pokemonCard:hover{
    filter: brightness(90%);
}

.types{
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 768px)  {
    .pokemonCard {
        width: 20rem;
        padding: 1rem 2rem;
    }
}