.grass {
    background:#8DD851;
}

.fire {
    background:#FA5543;
}

.water {
    background: #56AEFF;
}

.bug {
    background: #C3D21F;
}

.normal{
    background: #BDBDAE;
}

.poison {
    background: #A55B9C;
}

.electric {
    background: #FDE53C;
}

.ground {
    background: #E9C855;
}

.flying {
    background: #79A4FF;
}

.fairy {
    background: #F9ADFF;
}

.fighting {
    background: #A85644;
}

.psychic {
    background: #F562B1;
}

.rock {
    background: #CEBD72;
}

.ghost {
    background: #7874D5;
}

.ice {
    background: #96F1FF;
}

.dragon {
    background: #8A75FF;
}